
form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  background-color: #a7a0a0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: rgb(163, 46, 46);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


ul {
  list-style-type: none;
  padding: 0;
  max-width: 400px;
  margin: auto;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f3eded;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

span {
  font-size: 16px;
}

li button {
  background-color: #ff4d4d;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(250, 242, 242);
}

li button:hover {
  background-color: #ff1a1a;
}

